[package]
name = "honeybee"
description = "Server for publishing IRIS data as JSON / GIF"
license = "GPL-2.0-or-later"
version.workspace = true
edition.workspace = true

[dependencies]
anyhow = "1.0"
base64 = "0.13"
gift = "0.10"
log = "0.4"
ntcip = "0.7"
pix = "0.13"
pointy = "0.3"
postgres = "0.19"
postgis = "0.9"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
thiserror = "1"
whoami = "1"

[dependencies.env_logger]
version = "0.9"
default-features = false
features = ["atty"]
