[package]
name = "honeybee"
description = "Server for publishing IRIS data as JSON / GIF"
license = "GPL-2.0-or-later"
version.workspace = true
edition.workspace = true

[dependencies]
async-stream = "0.3"
async-trait = "0.1"
bb8 = { workspace = true }
bb8-postgres = { workspace = true }
env_logger = { workspace = true }
futures = { version = "0.3", default_features = false }
log = { workspace = true }
mvt = "0.9"
ntcip = { workspace = true }
pointy = "0.6"
postgis = "0.9"
rendzina = { path = "../rendzina" }
serde = { workspace = true }
serde_json = "1"
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-postgres = { workspace = true }
whoami = "1"
