[Unit]
Description=Honeybee service for IRIS
StartLimitIntervalSec=0

[Service]
Environment=RUST_LOG=warn
Environment=PGTZ=US/Central
WorkingDirectory=/var/www/html/iris/
ExecStart=/usr/local/bin/honeybee
Restart=always
RestartSec=2
User=tms

[Install]
WantedBy=multi-user.target
