[Unit]
Description=Graft service for IRIS
StartLimitIntervalSec=0

[Service]
Environment=RUST_LOG=warn
WorkingDirectory=/var/www/html/iris/
ExecStart=/usr/local/bin/graft
Restart=always
RestartSec=2
User=tms

[Install]
WantedBy=multi-user.target
