body {
  background-color: #dde;
  font-family: "Overpass";
}
label {
  text-indent: 0.4rem;
  margin-right: 0.2rem;
}
textarea {
  resize: none;
}
.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

#mapid {
  display: none;
}
.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 0 100%;
  margin: 0;
  background-image: url(iris.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 32rem) {
  #mapid {
    display: block;
    flex: 3 1 auto;
  }
  .sidebar {
    flex: 1 0 12rem;
  }
}

#sb_select {
  flex: 0 1 min-content;
  margin: 0.1rem;
}
#sb_search {
  flex: 0 1 min-content;
  margin: 0.1rem;
}
#sb_list {
  flex: 1 0 fill;
  margin: 0.1rem;
  overflow-y: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0.2rem;
}
.card {
  flex: 10rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 0.2rem;
  margin: 0.1rem;
  background-color: #eee;
  border-radius: 0.1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}
.card:hover {
  box-shadow: 0.2rem 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.5);
  background-color: white;
}
.title {
  font-weight: bold;
}
.ob_name {
  font-weight: bold;
  font-size: 70%;
  border: 1px dotted #0004;
}
.info {
  font-style: italic;
  color: #448;
  margin-left: 0.2rem;
}
.create {
  font-style: italic;
  font-size: smaller;
  margin-top: 0.1rem;
}
.disabled {
  text-decoration: line-through;
}
.form {
  flex: fill;
  display: flex;
  flex-direction: column;
  background-color: #fed;
  overflow-x: none;
  overflow-y: auto;
  margin: 0.1rem;
  padding: 0.1rem 0.2rem;
  border-radius: 0.1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}
.row {
  flex: fill;
  display: flex;
  justify-content: space-between;
  padding: 0.1rem;
}
