---
---

* {
  font-family: 'Overpass', sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

body {
  padding-bottom: 1rem;
  color: #ffeedd;
  background: #283028;
  background: linear-gradient(#283028, #1c201c);
  background-attachment: fixed !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #f0f0f0;
  margin: 0.5rem 0 0.5rem 0;
  line-height: 1.1;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

p, ul, ol, table, pre, dl {
  margin-bottom: 1rem;
}

a {
  color: #ffbf00;
  text-decoration: underline dashed;

  &:hover {
    color: #ffee99;
  }
}

ul {
  list-style: none;
}

ul li::before {
  content: "》";
}

.wrapper {
  max-width: 40rem;
  margin: 0 auto;
  position: relative;
  padding: 0 1rem;
}

section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

code {
  font-family: 'Overpass Mono', monospace;
  color: #eee;
}

pre {
  padding: 0.5rem 1rem;
  background: #191919;
  border-radius: 0.2rem;
  border: 0.1rem solid #121212;
  box-shadow: inset 0 0.1rem 0.3rem rgba(0,0,0,.3);
  overflow: auto;
  overflow-y: hidden;

  code {
    color: #efefef;
    text-shadow: 0 0.1rem 0 #000;
    margin: 0;
    padding: 0;
  }
}

table {
  width: 100%;
  box-shadow: 0 0 0 0.2rem #115511;
  border: solid white;
  border-collapse: collapse;
  background: #115511;
}

table tr:nth-child(odd) td {
  background: #114811;
}

th {
  font-size: 1.1rem;
  text-align: left;
  padding: 0.1rem 0.5rem 0.1rem 1rem;
  color: white;
}

td {
  text-align: left;
  padding: 0 0.5rem 0.1rem 0.5rem;
  color: white;
}

hr {
  border-bottom: thick dashed yellow;
  outline: none;
  height: 0.1rem;
  margin-bottom: 1rem;
}

section {
  max-width: 40rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#title {
  border: 0;
  outline: none;
  margin-bottom: 2rem;

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  p {
    color: #ddccbb;
    font-size: 1.5rem;
    text-align: center;
  }
}

.credits {
  font-size: 0.8rem;
  color: #696969;
}
