BODY {
	background: #cccccc;
	text-align: justify;
	orphans: 3;
	windows: 4;
}
TABLE {
	page-break-inside: avoid;
	border-collapse: collapse;
	border: 3px solid black;
	background: #f0f0f0;
	width: 100%;
}
TH {
	border-bottom: 1px solid gray;
}
TD {
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	background: white;
	text-align: center;
	vertical-align: middle;
}
DT {
	font-weight: bold;
}
