h1 {
	page-break-after: avoid;
	counter-reset: h2cnt h3cnt h4cnt h5cnt;
}
h2 {
	page-break-after: avoid;
	counter-increment: h2cnt;
	counter-reset: h3cnt h4cnt h5cnt;
}
h2:before {
	content: ' ' counter(h2cnt) ' ';
}
h3 {
	page-break-after: avoid;
	counter-increment: h3cnt;
	counter-reset: h4cnt h5cnt;
}
h3:before {
	content: ' ' counter(h2cnt) '.' counter(h3cnt) ' ';
}
h4 {
	page-break-after: avoid;
	counter-increment: h4cnt;
	counter-reset: h5cnt;
}
h4:before {
	content: ' ' counter(h2cnt) '.' counter(h3cnt) '.' counter(h4cnt) ' ';
}
h5 {
	page-break-after: avoid;
	counter-increment: h5cnt;
}
h5:before {
	content: ' ' counter(h2cnt) '.' counter(h3cnt) '.' counter(h4cnt) '.' counter(h5cnt) ' ';
}
.sidebar {
	position: fixed;
	left: 1%;
	right: 76%;
	top: 1%;
	bottom: 1%;
	overflow: hidden;
	background: #9bb;
}
.mainbar {
	margin-left: 25%;
	margin-right: 5%;
}
div.math {
	font-family: sans-serif;
	font-weight: bold;
	font-size: larger;
}
span.func {
	float: right;
}
.code {
	background: #222222;
	color: white;
	overflow: auto;
}
span.inblock {
	display: inline-block;
}
.middle {
	vertical-align: 50%;
}
.over {
	text-decoration: overline;
}
sub {
	font-size: xx-small;
}
body {
	background: #cccccc;
	orphans: 3;
}
p {
	page-break-inside: avoid;
}
table {
	page-break-inside: avoid;
	border-collapse: collapse;
	border: 3px solid black;
	background: #f0f0f0;
}
th {
	padding-left: 8px;
	padding-right: 8px;
}
td {
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	background: white;
	vertical-align: middle;
}
td.top {
	border-top: 1px solid gray;
}
td.bottom {
	border-bottom: 1px solid gray;
}
dt {
	font-weight: bold;
}
dd {
	page-break-inside: avoid;
}
.left {
	float: left;
	padding-right: 8px;
	padding-bottom: 8px;
}
.right {
	float: right;
	padding-left: 8px;
	padding-bottom: 8px;
}
.clear {
	clear: both;
}
.contents {
	font-size: small;
}
.show {
	font-size: x-small;
	color: blue;
}
div.label {
	text-align: center;
	font-weight: bold;
	font-style: oblique;
}
ol {
	padding-left: 100px;
}
ol.alpha {
	list-style-type: lower-alpha;
}
ol.roman {
	list-style-type: upper-roman;
}
#stamp {
	text-align: right;
	font-size: x-small;
}
