h1 {
	counter-reset: h2cnt h3cnt h4cnt h5cnt;
}
h2 {
	counter-increment: h2cnt;
	counter-reset: h3cnt h4cnt h5cnt;
	margin: 0;
}
h2:before {
	content: ' ' counter(h2cnt) ' ';
}
h3 {
	counter-increment: h3cnt;
	counter-reset: h4cnt h5cnt;
	margin: 0;
}
h3:before {
	content: ' ' counter(h2cnt) '.' counter(h3cnt) ' ';
}
h4 {
	counter-increment: h4cnt;
	counter-reset: h5cnt;
	margin: 0;
}
h4:before {
	content: ' ' counter(h2cnt) '.' counter(h3cnt) '.' counter(h4cnt) ' ';
}
h5 {
	counter-increment: h5cnt;
	margin: 0;
}
h5:before {
	content: ' ' counter(h2cnt) '.' counter(h3cnt) '.' counter(h4cnt) '.' counter(h5cnt) ' ';
}
.sidebar {
	position: fixed;
	left: 0%;
	right: 76%;
	top: 0%;
	bottom: 0%;
	padding-left: 8px;
	overflow: hidden;
	background: #acc;
	font-size: 50%;
}
.mainbar {
	margin-left: 25%;
	margin-right: 5%;
}
div.math {
	font-family: sans-serif;
	font-weight: bold;
	font-size: larger;
}
span.func {
	float: right;
}
.code {
	background: #222222;
	color: white;
	overflow: auto;
}
.green {
	background: #222222;
	color: #00ff00;
}
.yellow {
	background: #222222;
	color: #ffff00;
}
.red {
	background: #222222;
	color: #ff0000;
}
span.inblock {
	display: inline-block;
}
.middle {
	vertical-align: 50%;
}
.over {
	text-decoration: overline;
}
sub {
	font-size: xx-small;
}
.menu {
	background: #cca;
	font-family: monospace;
}
body {
	background: #cde;
	orphans: 3;
}
table {
	border: 3px solid black;
	background: #f0f0f0;
}
th {
	padding-left: 8px;
	padding-right: 8px;
}
td {
	padding-left: 8px;
	padding-right: 8px;
	border-left: 8px;
	border-right: 8px;
	background: #fffff4;
	vertical-align: middle;
}
td.best {
	background: lightgreen;
}
td.top {
	border-top: 1px solid gray;
}
td.bottom {
	border-bottom: 1px solid gray;
}
dt {
	font-weight: bold;
}
aside {
	float: right;
	padding: 8px;
	background: #ffd;
	border: 1px solid gray;
}
.left {
	float: left;
	padding-right: 8px;
	padding-bottom: 8px;
}
.right {
	float: right;
	padding-left: 8px;
	padding-bottom: 8px;
}
.clear {
	clear: both;
}
.pagebreak {
	clear: both;
}
.show {
	font-size: x-small;
	color: blue;
}
div.label {
	text-align: center;
	font-weight: bold;
	font-style: oblique;
}
ol {
	padding-left: 100px;
}
ol.alpha {
	list-style-type: lower-alpha;
}
ol.roman {
	list-style-type: upper-roman;
}
#stamp {
	text-align: right;
	font-size: x-small;
}
text {
	font-family: sans-serif;
}
@media print {
	body {
		font-size: 12pt;
		background: white;
	}
	h1, h2, h3, h4, h4 {
		page-break-after: avoid;
	}
	p {
		page-break-inside: avoid;
	}
	table {
		page-break-inside: avoid;
	}
	dt {
		page-break-after: avoid;
	}
	dd {
		page-break-inside: avoid;
	}
	.pagebreak {
		clear: both;
		page-break-before: always;
	}
	.right {
		page-break-inside: avoid;
	}
}
