H1 {
	text-align: center;
}
H2 {
	page-break-after: avoid;
}
DIV.math {
	font-family: sans-serif;
	font-weight: bold;
	font-size: larger;
}
SPAN.func {
	float: right;
}
SPAN.inblock {
	display: inline-block;
}
.middle {
	vertical-align: 50%;
}
.over {
	text-decoration: overline;
}
SUB {
	font-size: xx-small;
}
BODY {
	background: #cccccc;
	text-align: justify;
	orphans: 3;
	windows: 4;
}
P {
	page-break-inside: avoid;
}
TABLE {
	page-break-inside: avoid;
	border-collapse: collapse;
	border: 3px solid black;
	background: #f0f0f0;
}
TH {
	padding-left: 8px;
	padding-right: 8px;
}
TD {
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	background: white;
	vertical-align: middle;
}
TD.top {
	border-top: 1px solid gray;
}
TD.bottom {
	border-bottom: 1px solid gray;
}
DT {
	font-weight: bold;
}
DD {
	page-break-inside: avoid;
}
.left {
	float: left;
	padding-right: 8px;
	padding-bottom: 8px;
}
.right {
	float: right;
	padding-left: 8px;
	padding-bottom: 8px;
}
.clear {
	clear: both;
}
DIV.label {
	text-align: center;
	font-weight: bold;
	font-style: oblique;
}
OL {
	padding-left: 100px;
}
OL.alpha {
	list-style-type: lower-alpha;
}
OL.roman {
	list-style-type: upper-roman;
}
#stamp {
	text-align: right;
}
