body {
    background: #eee;
}
summary {
    background: #e0e0e0;
}
details {
    background: #eee;
}
dt {
    font-weight: bold;
    text-decoration: underline;
}
dt::after {
    content: ": ";
}
.uri {
    white-space: nowrap;
    font-family: monospace;
}
